<a href="https://colab.research.google.com/github/Edgar0617/Platzi/blob/master/Series_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
psg_players = pd.Series(['Navas','Mbappe', 'Neymar', 'Messi'],
          index = [1,7,10,30]
          )

In [5]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
dicty = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dicty)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [14]:
dicty = {'Jugador':['Navas','Mbappe', 'Neymar', 'Messi'],
 'Altura (cm)':[185,178,180,168],
 'Goles':[2,200,300,700]
 }

In [15]:
dicty

{'Altura (cm)': [185, 178, 180, 168],
 'Goles': [2, 200, 300, 700],
 'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi']}

In [22]:
df_players = pd.DataFrame(dicty,index = [1,7,10,30])

In [23]:
df_players.columns

Index(['Jugador', 'Altura (cm)', 'Goles'], dtype='object')

In [24]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')